/SampleGradleProject/
/SampleMavenProject/
/SampleAntProject/
/Badami642Test/nbproject/private/
/Badami642Test/
/Testing/nbproject/private/
/JavaApplication7/nbproject/private/
/LinkedLists/build/
/StacksQueuesDeques/build/
/Week2Movies/build/
/StacksQueuesDeques/nbproject/private/
/Week2Movies/nbproject/private/
/Assignment1F20/nbproject/private/
/Assignment1F20/
/SetsDemo/nbproject/private/
/SetsDemo/build/
/FacultyCourseMappings/build/
/FacultyCourseMappings/nbproject/private/
/RegistrationThread/build/
/RegistrationThread/nbproject/private/
/ThreadsDemo/
/RegistrationThread/
